.container {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

 /* 导航栏样式 */
.main-nav {
  background-color: var(--gray-900);
  overflow: hidden;
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: center; /* 水平居中 */
}
.main-nav a {
  font-size: 1.5rem;
  color: var(--gray-100);
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.main-nav a:hover {
  background-color: var(--gray-700);
}

.footer {
  margin-bottom: 2rem;
}

.author {
  font-size: 0.8rem;
  text-align: center;
  a {
    color: var(--gray-700);
  }
}